html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html{
  background: linear-gradient(-135deg, #f7faff, #fcf6f1, #f0ece9);
}
html.dark {
  background: linear-gradient(-135deg, #66727a, #70685a, #504c4c);
}

@font-face {
  font-family: 'HarmonyOS';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/HarmonyOS_Sans.woff') format('woff');
}

.font-sans{
  font-family: HarmonyOS, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

:root{
  --header-h: 50px;
}

.mask{
  @apply fixed top-0 left-0 bg-black bg-opacity-60 w-full h-full z-10;
}

.btn{
  padding: 5px 30px;
  color: #fff;
  font-size: 18px;
  transform: skewX(-17deg);
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  mask-image: linear-gradient(90deg, transparent var(--left), #fff 50%,transparent var(--right));
  animation: btnshow 1s ease forwards;
  &:hover{
    opacity: .8;
  }
}

@property --left {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}

@property --right {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%;
}

@keyframes btnshow {
  0%{
    --left: 40%;
    --right: 60%;
  }
  100%{
    --left: -60%;
    --right: 160%;
  }
}