html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: HarmonyOS, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
html{
  background: linear-gradient(-135deg, #f7faff, #fcf6f1, #f0ece9);
}
html.dark {
  background: #121212;
}

@font-face {
  font-family: 'HarmonyOS';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/HarmonyOS_Sans.woff') format('woff');
}

:root{
  --header-h: 50px;
}